@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}
section{
    display: grid;
    grid-template-areas: 
        "header"
        "container"
        "footer"
    ;
}
.header{
    grid-area: header;
    display: flex;
    width: 100%;
    padding: 20px 0 20px 0 ;
    background: whitesmoke;
    justify-content: space-between;
}
.menu-sanduiche{
    display: none;
    margin-left: 10px;
    width: 30px;
    height: 25px;
    position: relative;
    cursor: pointer;
}
.icon {
    color: #000;
    position: absolute;
    margin-left: 7px;
    margin-top: 12px;
    width: 17px;
    height: 2px;
    background-color: currentColor;
  }
  
  .icon:before {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 17px;
    height: 2px;
    background-color: currentColor;
  }
  
  .icon:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 17px;
    height: 2px;
    background-color: currentColor;
  }
  
  
.logo{
    margin-left: 10px;
}

.menu ul{
    display: flex;
}
.menu li a{
    margin: 5px;
    padding: 10px;
    
}
ul{
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
}
.categorias{
    position: relative;
}
.categorias a:hover{
    background: rgba(0, 0, 0, 0.178);
}
.categorias:hover .submenu li{
    display: block;
    
}

.submenu{
    position: absolute;
    background: rgba(0, 0, 0, 0.178);
    flex-wrap: wrap;
    width: 200px;
    margin: 10px auto 0 5px;
    
}
.submenu li{
    margin-top: 20px;
    display: none;
}


.container{
    grid-area: container;
    width: 90%;
    margin: 50px auto;
}
.product-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.product-item{
    margin: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2 );
    overflow: hidden;
}
.product-item:hover{
    transform: translateY(-2px);
    box-shadow: -2px 48px 56px -41px rgba(0, 0, 0, 0.37);
}
.product-link{
    text-decoration: none;
}
.product-info-img{
    padding: 30px;
}
.product-info-img img{
    width: 100%;

}


.star-ranking{
    list-style: none;
    display: flex;
    margin-top: 10px;
}
.star-ranking li{
    width: 20px;
}
.star-ranking li img{
    width: 100%;
}

.product-info-description{
    display: grid;
    grid-template-rows: 27px 40px 1fr;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2 );
    border-top: 1px solid rgba(0, 0, 0, 0.2 );
}
.title{
    font-size: 14pt;
}
.description{
    overflow: hidden;
    font-weight: 300;
}
.qtd-votes{
    margin-left: 10px;
}

.price-box{
    padding: 15px;
}
.price div{
    margin-bottom: 10px;
}
.price del{
    color: rgb(80, 80, 80);
    font-size: 12pt;
    margin: 0 10px 10px 0;
}
.price ins{
    color: blue;
    font-size: 16pt;
    font-weight: 600;
    text-decoration: none;
}
.price-info{
    color: blue;
    font-size: 12pt;
    font-weight: 500;
}


.footer-main{
    grid-area: footer;
    background: rgb(51, 51, 54);
    color: white;
}
.footer-container{
    padding-top: 30px;
}
.footer-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.footer-box-item{
    padding: 40px;
}
.footer-box-item ul{
    margin-top: 10px;
}
.footer-box-item a{
    color: white;
    text-decoration: none;
}
.footer-box-item a:hover{
    text-decoration: underline;
}
.footer-box-item img{
    width: 30px;
}
.footer-icon{
    display: flex;
}

.footer-copyrigth{
    padding: 20px;
    text-align: center;
    background: rgb(43, 43, 46);
}


@media (max-width: 900px) {
    .product-list{
        grid-template-columns: 1fr 1fr;
    }
    .product-item{
        margin: 20px;
    }
}
@media (max-width: 650px) {
    .product-list{
        grid-template-columns: 1fr;
    }
    .product-item{
        margin: 20px;
    }
}
@media (max-width:600px){
    .footer-box{
        display: grid;
        grid-template-columns: 1fr;
    }
}